{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="row">
{% for quest_name, quest_value in context.items%}
            <div class="col-lg-4">
            <div class="card" style="width: 23rem;">
              <div class="card-body">
                <h5 class="card-title">{{quest_value.name}}</h5>
                  <p class="p_events_status">
                      Date of release: {{quest_value.date_of_release}}
                      <div class="progress">
                          <div class="progress-bar bg-success" role="progressbar" style="width: {{quest_value.finished_pers}}%" aria-valuenow="{{quest_value.finished_pers}}" aria-valuemin="0" aria-valuemax="100">{{quest_value.finished_pers}}%</div>
                        </div>
                  </p>
                    <div class="accordion" id="accordionExample">
                        {% for block_name, block_value in quest_value.blocks.items%}
                        {% if block_value.count_events > 0%}
                          <div class="card" id="card-block-{{block_id}}">
                            <div class="card-header" id="headingOne">
                              <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#target{{quest_value.id}}-{{block_value.id}}" aria-expanded="true" aria-controls="target{{quest_value.id}}-{{block_value.id}}">
                                  {{block_value.name}} ({{block_value.count_events}})

                                </button>
                              </h2>
                            </div>

                            <div id="target{{quest_value.id}}-{{block_value.id}}" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                              <div class="card-body">
                                  {% for event in block_value.events%}
                                    {% if event.finished == True %}
                                        <div class="card" style="width: 18rem;  background: lightgreen;">
                                    {% else %}
                                          <div class="card" style="width: 18rem;">
                                    {%endif%}
                                        <a href='#' data-toggle="modal" data-target="#modal-{{quest_value.id}}-{{block_value.id}}-{{event.id}}">
                                            <div class="card-header">
                                                {{event.name}}
                                            </div>
                                            <!--<img src={{event.main_img.url}} class="card-img-top">-->
                                        </a>
                                        <!--
                                      <div class="card-body">
                                          <p class="p_events_status">
                                              Status: {{event.status.name}}
                                          </p>
                                        <p class="card-text">
                                            {{event.desc | safe | truncatewords:15}}
                                        </p>
                                      </div>
                                      -->
                                    </div>
                                  <div class="modal" tabindex="-1" id="modal-{{quest_value.id}}-{{block_value.id}}-{{event.id}}">
                                      <div class="modal-dialog">
                                        <div class="modal-content">
                                          <div class="modal-header">
                                            <h5 class="modal-title">{{event.name}}</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                              <span aria-hidden="true">&times;</span>
                                            </button>
                                          </div>
                                          <div class="modal-body">
                                              <div class="container">
                                                  <div class="row">
                                                      <div class="col-lg-12">
                                                          <img class="events_modal_img" src={{event.main_img.url}}>
                                                      </div>
                                                      <div class="col-lg-6">
                                                          <p class="p_events_category">
                                                              Category: {{block_value.name}}
                                                          </p>
                                                      </div>
                                                      <div class="col-lg-6">
                                                          <p class="p_events_status">
                                                              Status: {{event.status.name}}
                                                          </p>
                                                      </div>
                                                      <div class="col-lg-12">
                                                          <p>{{event.desc}}</p>
                                                      </div>

                                                  </div>
                                              </div>
                                          </div>
                                          <div class="modal-footer">

                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  {%endfor%}
                              </div>
                            </div>
                          </div>
                        {% endif %}
                {%endfor%}

                    </div>
              </div>
            </div>
            </div>

{%endfor%}
            </div>
        </div>

<script>
    $(function(){
  $('.events_modal_img').click(function(event) {
    var i_path = $(this).attr('src');
    $('body').append('<div id="overlay"></div><div id="magnify"><img src="'+i_path+'"><div id="close-popup"><i></i></div></div>');
    $('#magnify').css({
	    left: ($(document).width() - $('#magnify').outerWidth())/2,
	    // top: ($(document).height() - $('#magnify').outerHeight())/2 upd: 24.10.2016
            top: ($(window).height() - $('#magnify').outerHeight())/2
	  });
    $('#overlay, #magnify').fadeIn('fast');
  });

  $('body').on('click', '#close-popup, #overlay', function(event) {
    event.preventDefault();

    $('#overlay, #magnify').fadeOut('fast', function() {
      $('#close-popup, #magnify, #overlay').remove();
    });
  });
});
</script>
{%endblock%}