#card-block::-webkit-scrollbar {width: 3px; height: 3px;}
#card-block::-webkit-scrollbar-track { background-color: #999;}
#card-block::-webkit-scrollbar-track-piece { background-color: #ffffff;}
#card-block::-webkit-scrollbar-thumb { height: 50px; background-color: #666; border-radius: 3px;}
#card-block::-webkit-scrollbar-corner { background-color: #999;}
#card-block::-webkit-resizer { background-color: #666;}

#card-block {overflow-y: auto; max-height: 600px}

.p_events_status {
    font-size: small;
}

.p_events_category {
    font-size: small;
}

.p_events_date {
    font-size: small;
}

.modal-body {

}
.modal-body img {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  display: block;
}